<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CyanVideos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CyanVideos.Properties.Settings>
            <setting name="Sources" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="valore_mostra" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="exclamationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="grandezza_icon1" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="grandezza_icon2" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="defDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="savedResearch" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="compact" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="internalPlayer" serializeAs="String">
                <value>False</value>
            </setting>
			<setting name="volume" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="tags" serializeAs="String">
				<value>""</value>
			</setting>
			<setting name="Logs" serializeAs="String">
				<value />
			</setting>
			<setting name="tags" serializeAs="String">
				<value />
			</setting>
        </CyanVideos.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
